.dashboard-header {
  .e-appbar {
    position: relative;
    box-shadow: none;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    line-height: 64px;;
    i {
      font-size: 20px;
      vertical-align: middle;
      padding: 0 5px;
    }
    ul {
      height: inherit;
    }
    a {
      vertical-align: middle;
    }
  }
  .flex {
    display: flex;
    justify-content: space-between;;
  }
}
