.dashboard-header {
  width: 100%;
  font-size: 14px;
  .full-w {
    width: 100%;
  }
  .flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    &.v-stretch {
      align-items: stretch;
    }
  }
  i {
    font-size: 18px;
    vertical-align: middle;
  }
  a {
    vertical-align: middle;
    padding: 0 3px;
    width: 95px;
    :hover {
      font-weight: bold;
      color: #43a047;
      i {
        color: #43a047;
      }
    }
  }
  .active {
    font-weight: bold;
  }
}
