.dashboard-mailbox {
  .selected {
    border-right: 0;
    border-left: 3px solid #66bb6a;
  }
  .e-flex-container {
    display: flex;
    &.e-align-row {
      flex-direction: row;
    }
    &.space-between {
      justify-content: space-between;
    }
  }
  .maillist {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;

  }
}
