.dashboard-main {
  height: 800px;
  .border-row {
    border-bottom: 1px solid black;
  }
  .border-col {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .no-margin-b {
    margin-bottom: 0;
  }
}
