.dashboard-navigation {
  .full-w {
    width: 100%;
  }
 .e-nav-drawer {
   position: static;
   width: 111%;
   z-index: 1;
   box-shadow: none;
   margin-top: -4px;
   margin-left: -10px;
}
 .flex-center {
   display: flex;
   justify-content: center;
 }
 i {
   font-size: xx-small;
 }
 .padding-l-list {
   padding-left: 24px;
 }

}
