.dashboard-main {
  height: 800px;
}
.dashboard-main .border-row {
  border-bottom: 1px solid #eee;
}
.dashboard-main .border-col {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.dashboard-main .no-margin-b {
  margin-bottom: 0;
}
.dashboard-header {
  width: 100%;
  font-size: 14px;
}
.dashboard-header .full-w {
  width: 100%;
}
.dashboard-header .flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.dashboard-header .flex.v-stretch {
  align-items: stretch;
}
.dashboard-header i {
  font-size: 18px;
  vertical-align: middle;
}
.dashboard-header a {
  vertical-align: middle;
  padding: 0 3px;
}
.dashboard-search .border-input-icon {
  border: 1px solid lightgrey;
}
.dashboard-search i {
  font-size: 24px;
}
.dashboard-search .with-icon {
  width: 80%;
  display: inline-block;
  font-size: 14px;
}
.dashboard-search .with-icon .e-input {
  border: 0;
}
.dashboard-search .with-icon.e-input-group .e-input:focus {
  border-bottom: 0;
  margin-top: 0;
}
.dashboard-search .with-icon.e-input:focus {
  margin-top: 0;
}
.dashboard-search .fab-mini {
  box-shadow: none;
  vertical-align: middle;
}
.dashboard-search .fab-mini:hover:not(.flat) {
  box-shadow: none;
}
.dashboard-search .e-nav-menu.cover ul.e-nav {
  right: 0;
}
.dashboard-user .avatar {
  border-radius: 50%;
  vertical-align: middle;
}
.dashboard-user nav {
  margin-left: 15px;
}
.dashboard-navigation .full-w {
  width: 100%;
}
.dashboard-navigation .e-nav-drawer {
  position: static;
  width: 112%;
  z-index: 1;
  box-shadow: none;
  margin-top: -4px;
  margin-left: -10px;
}
.dashboard-navigation .flex-center {
  display: flex;
  justify-content: center;
}
.dashboard-navigation i {
  font-size: xx-small;
}
.dashboard-navigation .padding-l-list {
  padding-left: 24px;
}
.dashboard-mailbox.selected {
  border-right: 0;
  border-left: 3px solid #66bb6a;
}
.dashboard-mailbox .e-flex-container {
  display: flex;
}
.dashboard-mailbox .e-flex-container.e-align-row {
  flex-direction: row;
}
.dashboard-mailbox .e-flex-container.space-between {
  justify-content: space-between;
}
.dashboard-mailbox .maillist {
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
.dashboard-conversation .e-flex-container {
  display: flex;
}
.dashboard-conversation .e-flex-container.e-align-row {
  flex-direction: row;
  align-items: center;
}
.dashboard-conversation .e-flex-container.space-between {
  justify-content: space-between;
}
.dashboard-conversation .e-flex-container.space-around {
  justify-content: space-around;
}
.dashboard-conversation img {
  max-height: 80px;
  padding: 10px 15px 10px 0;
}
.dashboard-conversation .adjust-w {
  width: 100%;
}
.dashboard-conversation .from {
  width: 43%;
}
.dashboard-conversation .reply {
  border-top: 1px solid lightgrey;
}
.dashboard-conversation .reply-form {
  border: 1px solid lightgrey;
}
.dashboard-conversation .reply-form .e-input,
.dashboard-conversation .reply-form .e-input:focus {
  border-bottom: 0;
}
.dashboard-conversation .reply-form .e-input-efects {
  display: none;
}
body {
  background: #81c784;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #a5d6a7, #43a047);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #a5d6a7, #43a047);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #a5d6a7, #43a047);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #a5d6a7, #43a047);
  /* Standard syntax (must be last) */
}
.e-container {
  margin-top: 5%;
}
footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
